extends layout

block content
  h1= title
  - let result = results

    .container-fluid 
      .row
        each jacke, index in result
            .col-sm-2(onclick=`buy(${index})`)
              p Jackets: #{jacke.jackets}
              p Cost: #{jacke.cost}
              p Brand: #{jacke.brand}
  script.
    function buy(index) {
      alert('You purchased item ' + (index+1));
    }